/*
 * Copyright (c) 2020. Witalij Bukatkin
 * Github profile: https://github.com/witalijbukatkin
 */

#chats .list-group-item, #containerRight > a {
    cursor: pointer;
}

#chatTitle, #containerRight > a {
    float: left;
}

#containerRight > a {
    margin: 20px;
}

#createChatForm {
    padding: 10px;
}

#chatTitle {
    width: 85%;
    max-width: 85%;
    font-size: 18px;
    margin: 10px;
}

#logoutButton {
    width: 100%;
}

@media screen and (max-width: 1000px), screen and (max-height: 600px) {
    #chatTitle {
        width: 60%;
        max-width: 60%;
        font-size: 15px;
        margin-top: 18px;
    }

    #chatNameData, #userNameData {
        width: 75%;
    }
}