/*
 * Copyright (c) 2020. Witalij Bukatkin
 * Github profile: https://github.com/witalijbukatkin
 */

#container {
    width: 100%;
    height: 100%;

    padding: 25px;

    font-family: "Helvetica Neue", serif;
}

#containerLeft, #containerRight {
    float: left;
    padding: 10px;
}

#containerLeft {
    width: 33%;
}

#containerRight {
    width: 65%;
}

#menu {
    display: none;
    cursor: pointer;
    margin: 20px;
    color: #337ab7;
}

#chats, #messages {
    width: 100%;
    height: 83%;
    overflow: auto;
}

.form-control {
    float: left;
    width: 85%;
}

@media screen and (max-width: 1000px), screen and (max-height: 600px) {
    #container {
        padding-top: 0;
        padding-bottom: 10px;
    }

    #containerLeft {
        display: none;
    }

    #containerLeft, #containerRight {
        width: 100%;
    }

    #menu {
        display: block;
    }
}