/*
 * Copyright (c) 2020. Witalij Bukatkin
 * Github profile: https://github.com/witalijbukatkin
 */

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

body, .modal .modal-content, .form-control, .form-control:focus, .list-group-item {
    background-color: rgb(24, 26, 27);
    color: #337ab7;
}

.list-group-item:hover {
    background-color: cornflowerblue;
}

.modal h5, .modal p, .modal .close, .modal-header, .form-control {
    color: #337ab7;
    border-color: #337ab7;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.form .form-control:focus {
    z-index: 2;
}

.form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}