/*
 * Copyright (c) 2020. Witalij Bukatkin
 * Github profile: https://github.com/witalijbukatkin
 */

.message {
    float: left;
    width: 100%;
}

.message > div {
    max-width: 45%;
    border-radius: 10px;
    background-color: #337ab7;
    padding: 10px;
    color: #fff;
}

.message .senderName {
    padding: 2px;
}

.message span {
    font-size: x-small;
}

.messageRight > div, .messageRight span {
    float: right;
}

.messageLeft > div, .messageLeft span {
    float: left;
}

.message p {
    margin: 0;
}

@media screen and (max-width: 1000px), screen and (max-height: 600px) {
    #createMessageForm {
        padding-top: 10px;
    }

    #createMessageForm input {
        width: 70%;
    }
}