/*
 * Copyright (c) 2020. Witalij Bukatkin
 * Github profile: https://github.com/witalijbukatkin
 */

.modal .btn {
    padding: 10px;
}

.modal #userList {
    max-height: 25vh;
    overflow: auto;
}

.modal .list-group-item:hover {
    border-width: 1px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}